/* -----------  HEADER  ---------- */
header{
    display: flex; 
    justify-content: space-between; 
    border-bottom: 1px solid black; 
    padding-bottom: 15px; 
}

header h1{
    color: lightskyblue; 
}

header img{
    width: 60px; 
    height: 80px;
}

header a{
    text-decoration: none; 
    color: #ceaece; 
    font-weight: bold;
    margin-top: 30px; 
}



/* ------------  MAIN  ----------- */
table{
    margin-top: 40px; 
}

table, thead, tbody, th, tr, td{
    border-collapse: collapse; 
    border: 1px solid black; 
    text-align: center; 
}

main input{
    margin-top: 20px; 
    margin-bottom: 40px; 
}



/* -----------  FOOTER  ---------- */
footer{
    display: flex; 
    justify-content: center;
    padding-top: 15px;  
    border-top: 1px solid black;
    height: 60px; 
}

.iconos{
    width: 20px; 
    height: auto;
}
